* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(/background.jpg); */
  background-color: rgb(71, 71, 71);
  max-width: 100%;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

/* Grid settings */

#article1 {
  /* grid-area: "input"; */
  width: 25%;
  float: left;
  background-color: #ffffff;
  box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.35);
  -webkit-box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.35);
  min-height: 100vh;
  height: 100%;
  padding-top: 40px;
  position: fixed;
}

/* Inputs & Labels */

input, select, label, p, .fas {
  display: block;
  margin: auto;
  width: 70%;
}
.inputs {
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
}
.labels {
  margin-bottom: 5px;
}

/* Submit button & Error icon-text */

#ajouter {
  width: 35%;
  border-radius: 60px;
  padding: 0.8em;
  border: none;
  background-color: #EE5007;
  font-weight: 600;
}

.fas {
  visibility: hidden;
  margin-top: 5px;
  color: rgb(85, 4, 4);
}
.errortext {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: 5px;
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */


#table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 20px;
  float: right;
  width: 72%;
}
tr:first-of-type {
  background-color: #630000;
}
th, td {
  border: 1px solid #555555;
  text-align: left;
  padding: 8px;
  background-color: #ffffff;
}
/* tr:nth-child(even) {
  background-color: #e6c3b4;
} */

/* text of sign in {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 70px 15px 74px 15px;
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;

  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  text-align: left;

  visibility: hidden;
  opacity: 0;


  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
} */