* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(/background.jpg); */
  background-color: rgb(71, 71, 71);
  max-width: 100%;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

/* Grid settings */

#article1 {
  width: 25%;
  float: left;
  background-color: #ffffff;
  box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.35);
  -webkit-box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.35);
  min-height: 100vh;
  height: 100%;
  padding-top: 20px;
  position: fixed;
  overflow-x: auto;
}

/* Inputs & Labels */

input, select, label, p, .fas {
  display: block;
  margin: auto;
  width: 70%;
}
.inputs {
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}
.labels {
  margin-bottom: 5px;
}

/* Submit button & Error icon-text */

#ajouter, #save {
  display: inline-block;
  width: 35%;
  border-radius: 60px;
  padding: 0.8em;
  border: none;
  background-color: #EE5007;
  font-weight: 600;
  margin-left: 50px;
}

#save {
  visibility: hidden;
  margin: 10px;
}

.errortext {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: 5px;
}
.fas {
  visibility: hidden;
  margin-top: 5px;
  color: rgb(85, 4, 4);
  }

/* ===================================================== */

#table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 20px;
  float: right;
  width: 72%;
}
tr:first-of-type {
  background-color: #630000;
}
th, td {
  border: 1px solid #555555;
  text-align: left;
  padding: 8px;
  background-color: #ffffff;
}